<div class="header__top-bar-left">
    <ul class="menu header__menu">
        <li class="home">
            <a class="brand" href="{{ site.url }}">
            	{{ site.name }}
            	{# <img src="{{ theme.link }}/public/images/logo.png" alt="{{ site.name }}"> #}
            </a>
        </li>
    </ul>
</div>